In [66]:
import numpy as np
import pandas as pd

In [67]:
data = pd.read_csv("ml_data.csv")

In [68]:
data.head()

       Species   sl    sw sw_bin sl_bin   pl pl_bin   pw pw_seg pw_bin
0  Iris-setosa  low  high   high    low  low    low  low    low    low
1  Iris-setosa  low   low    low    low  low    low  low    low    low
2  Iris-setosa  low  high   high    low  low    low  low    low    low
3  Iris-setosa  low  high   high    low  low    low  low    low    low
4  Iris-setosa  low  high   high    low  low    low  low    low    low

In [69]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data['Species'] = le.fit_transform(data['Species'])
data['sl'] = le.fit_transform(data['sl'])
data['sl_bin'] = le.fit_transform(data['sl_bin'])
data['sw'] = le.fit_transform(data['sw'])
data['sw_bin'] = le.fit_transform(data['sw_bin'])
data['pl'] = le.fit_transform(data['pl'])
data['pl_bin'] = le.fit_transform(data['pl_bin'])
data['pw'] = le.fit_transform(data['pw'])
data['pw_seg'] = le.fit_transform(data['pw_seg'])
data['pw_bin'] = le.fit_transform(data['pw_bin'])

In [70]:
data.head()

   Species  sl  sw  sw_bin  sl_bin  pl  pl_bin  pw  pw_seg  pw_bin
0        0   1   0       0       1   1       1   1       1       1
1        0   1   1       1       1   1       1   1       1       1
2        0   1   0       0       1   1       1   1       1       1
3        0   1   0       0       1   1       1   1       1       1
4        0   1   0       0       1   1       1   1       1       1

In [71]:
data['Species'].unique()

array([0, 1, 2])

One hot encode the categorical data

In [72]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()

f_arr = one.fit_transform(data[['sw','sl','sl_bin','pl','pl_bin','pw','pw_seg','pw_bin']]).toarray()
f_arr

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [73]:
x = f_arr
y = one.fit_transform(data[['Species']]).toarray()

Splitting the dataset into train test sets

In [74]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [75]:
from sklearn.ensemble import RandomForestClassifier
rrc = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 0)

In [76]:
rrc.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=0)

In [77]:
y_pred1 = rrc.predict(x_test)

In [78]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred1)

1.0

We apply neural network here

In [80]:
x_train.shape

(120, 21)

In [79]:
import keras
from keras.layers import Dense, Dropout
from keras.models import Sequential

In [82]:
model = Sequential([
    Dense(units = 21, activation = 'relu'),
    Dense(units = 11,activation = 'relu'),
    Dense(units = 3, activation = 'softmax')
])

In [83]:
model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
model.fit(x_train,y_train,epochs = 50, batch_size = 10)

Epoch 1/50
12/12 [==============================] - 0s 667us/step - loss: 1.0895 - accuracy: 0.4500
Epoch 2/50
12/12 [==============================] - 0s 1ms/step - loss: 0.9421 - accuracy: 0.6083
Epoch 3/50
12/12 [==============================] - 0s 2ms/step - loss: 0.8416 - accuracy: 0.6250
Epoch 4/50
12/12 [==============================] - 0s 2ms/step - loss: 0.7647 - accuracy: 0.6333
Epoch 5/50
12/12 [==============================] - 0s 2ms/step - loss: 0.7073 - accuracy: 0.6333
Epoch 6/50
12/12 [==============================] - 0s 1ms/step - loss: 0.6531 - accuracy: 0.6333
Epoch 7/50
12/12 [==============================] - 0s 1ms/step - loss: 0.6026 - accuracy: 0.6333
Epoch 8/50
12/12 [==============================] - 0s 1ms/step - loss: 0.5519 - accuracy: 0.6750
Epoch 9/50
12/12 [==============================] - 0s 1ms/step - loss: 0.5043 - accuracy: 0.8333
Epoch 10/50
12/12 [==============================] - 0s 2ms/step - loss: 0.4572 - accuracy: 0.8417
Epoch 11/50
12/12 [==============================] - 0s 2ms/step - loss: 0.4125 - accuracy: 0.8833
Epoch 12/50
12/12 [==============================] - 0s 2ms/step - loss: 0.3673 - accuracy: 0.9000
Epoch 13/50
12/12 [==============================] - 0s 2ms/step - loss: 0.3254 - accuracy: 0.9000
Epoch 14/50
12/12 [==============================] - 0s 2ms/step - loss: 0.2903 - accuracy: 0.9083
Epoch 15/50
12/12 [==============================] - 0s 2ms/step - loss: 0.2607 - accuracy: 0.9500
Epoch 16/50
12/12 [==============================] - 0s 2ms/step - loss: 0.2329 - accuracy: 0.9500
Epoch 17/50
12/12 [==============================] - 0s 2ms/step - loss: 0.2127 - accuracy: 0.9500
Epoch 18/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1979 - accuracy: 0.9500
Epoch 19/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1857 - accuracy: 0.9500
Epoch 20/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1761 - accuracy: 0.9500
Epoch 21/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1690 - accuracy: 0.9500
Epoch 22/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1648 - accuracy: 0.9500
Epoch 23/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1562 - accuracy: 0.9583
Epoch 24/50
12/12 [==============================] - 0s 666us/step - loss: 0.1525 - accuracy: 0.9583
Epoch 25/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1484 - accuracy: 0.9667
Epoch 26/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1442 - accuracy: 0.9667
Epoch 27/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1406 - accuracy: 0.9750
Epoch 28/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1384 - accuracy: 0.9750
Epoch 29/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1356 - accuracy: 0.9750
Epoch 30/50
12/12 [==============================] - 0s 664us/step - loss: 0.1318 - accuracy: 0.9750
Epoch 31/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1294 - accuracy: 0.9750
Epoch 32/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1271 - accuracy: 0.9750
Epoch 33/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1250 - accuracy: 0.9750
Epoch 34/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1227 - accuracy: 0.9750
Epoch 35/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1192 - accuracy: 0.9750
Epoch 36/50
12/12 [==============================] - 0s 2ms/step - loss: 0.1179 - accuracy: 0.9750
Epoch 37/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1160 - accuracy: 0.9750
Epoch 38/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1141 - accuracy: 0.9750
Epoch 39/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1124 - accuracy: 0.9750
Epoch 40/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1105 - accuracy: 0.9750
Epoch 41/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1097 - accuracy: 0.9750
Epoch 42/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1081 - accuracy: 0.9750
Epoch 43/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1063 - accuracy: 0.9750
Epoch 44/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1049 - accuracy: 0.9750
Epoch 45/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1037 - accuracy: 0.9750
Epoch 46/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1025 - accuracy: 0.9750
Epoch 47/50
12/12 [==============================] - 0s 1ms/step - loss: 0.1014 - accuracy: 0.9750
Epoch 48/50
12/12 [==============================] - ETA: 0s - loss: 0.0358 - accuracy: 1.00 - 0s 1ms/step - loss: 0.1004 - accuracy: 0.9750
Epoch 49/50
12/12 [==============================] - 0s 1ms/step - loss: 0.0991 - accuracy: 0.9750
Epoch 50/50
12/12 [==============================] - 0s 2ms/step - loss: 0.0987 - accuracy: 0.9750

In [84]:
y_np = model.predict(x_test)

In [86]:
a = np.argmax(y_np[0])
a

1

In [87]:
y_nf = []
for i in y_np:
    arg = np.argmax(i)
    for j in range(3):
        if j == arg:
            i[j] = 1
        else:
            i[j] = 0
    y_nf.append(i)

In [89]:
y_nf = np.array(y_nf)

In [91]:
accuracy_score(y_test, y_nf)

1.0

Now we will be applying Naive Bayes algorithm in this dataset.

In [55]:
from sklearn.naive_bayes import GaussianNB
nav = GaussianNB()

In [51]:
y_nb = data['Species'].values

In [61]:
x_train,x_test, y_train, y_test = train_test_split(x,y_nb,test_size = 0.2,random_state = 42)

In [62]:
nav.fit(x_train,y_train)

GaussianNB()

In [63]:
y_pred = nav.predict(x_test)
accuracy_score(y_test, y_pred)

0.9